h1, h2{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    color: white;

}

body{
    background-color: black;
    color: white;
}

img{
    display: block;
    margin: 0 auto;
    border: 5px solid white;
}
H1{

}

img{
    
}